@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    overflow: hidden;
    margin:0;
}

#play {
    font-family: 'Press Start 2P', cursive;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
#play p {
    color: white;
    text-align: center;
    font-size: 3vw;
}

#play_btn, button#play{
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3vw;
    cursor: pointer;
    height: 6vh;
    width: 18vw;
}

button#play {
    top: 8vw !important;
}


